body {
    margin: 0 auto;
    background-image: url(./background01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family:monospace
    
  }
  
  #container {
    margin-top: 100px;
  }
  
  #score {
    font-size: 24px;
    color: aliceblue;
  }
  
  #clickButton {
    width: 150px; 
  height: 150px; 
  cursor: pointer;
  margin-bottom: 20px;
  }
  
  #upgrades {
    margin-top: 20px;
  }
  
  #upgrades button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
  }
  
  #upgrades button:hover {
    background-color: #005f79;
  }
  body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  #container {
    margin-top: 100px;
  }
  
  #score {
    font-size: 24px;
  }
  
 #clickButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
  } 
  
  #upgrades {
    margin-top: 20px;
  }
  
  #upgrades button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
  }
  
  #upgrades button:hover {
    background-color: #005f79;
  }
